.wpo-site-footer .about-widget p {
  margin-bottom: 0.1em;
  line-height: 1.5em;
}
.wpo-site-footer .widget-title {
  margin-bottom: 20px;
}

.font-12 {
  font-size: 12px !important;
}

@media (min-width: 991px) and (max-width: 1400px) {
  .certificateImg {
    display: flex !important;
    justify-content: center !important;
    max-height: 40px !important;
    align-items: center !important;
  }
}
